/* Variables */
:root {
  /*Цвета главной страницы*/
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-grey: #888888;
  --basic-blue: #81b3d2;
  --basic-dark-grey: #a9a9a9;
  --basic-extra-dark-grey: #333333;
  --basic-mud: #766357;
  --basic-neutral-grey: #f2f2f2;
  --basic-diff-gray: #eeeeee;

  /*Цвета в футере*/
  --basic-dark: #231f20;

  /*Цвета второй страницы*/
  --basic-granit: #ababab;
  --basic-light-grey: #cacaca;
  --basic-medium-grey: #666666;

  /*Интерактив*/
  --aiming-blue: #669ec0;
  --push-blue: #5496bd;
  --aiming-mud: #604e43;
  --push-mud: #503e33;
  --aiming-neutral-gray: #ebebeb;
  --push-neutral-gray: #e5e5e5;
  --push-light-gray: #bdbbbc;

  /*Для прозрачных элементов*/
  --light-white: hsla(0, 100%, 100%, .3);
  --light-black: hsla(0, 0%, 0%, .3);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-extra-dark-grey);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  font-weight: 700;
  color: var(--basic-black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*START Навигация */
.main-navigation {
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  line-height: 26px;
  color: var(--basic-black);
  list-style-type: none;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: .3;
}
/*END Навигация */

/*START Приветствие */
.tagline {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}
/*END Приветствие */

/*START Причины посещения */
.intro {
  font: inherit;
  line-height: 26px;
}

.addition {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.addition .feature-item{
  color: var(--basic-white);
}

.features-list {
  font: inherit;
  text-align: center;
  list-style-type: none;
}

.from-3 {
  background-color: var(--basic-diff-gray);
}

.feature-item {
  font-size: 21px;
  color: var(--basic-black);
}
/* END Причины посещения */

/*START Заинтересовались? */
.appointment {
  line-height: 24px;
}

.appointment-info {
  font-size: 30px;
  font-weight: 700;
  color: var(--basic-black);
}
/*END Заинтересовались? */

/*START Форма поиска гостиницы */
.popup {
  line-height: 26px;
  font-weight: 700;
}
/*END Форма поиска гостиницы */

/*START Общий стиль кнопок*/
.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-mud);
  border: none;
}

.button:hover {
  background-color: var(--aiming-mud);
}

.button:focus {
  color: var(--light-white);
  background-color: var(--push-mud);
}
/*END Общий стиль кнопок*/

/*START Поля в попапе */
.form-field {
  background-color: var(--basic-neutral-grey);
}

.form-field:hover {
  background-color: var(--aiming-neutral-gray);
}

.form-field:focus {
  background-color: var(--basic-white);
}
/*END Поля в попапе */

/*START Кнопка найти в попапе и иконки соцсетей */
.search,
.social-button {
  background-color: var(--basic-blue);
}

.search:hover,
.social-button:hover {
  background-color: var(--aiming-blue);
}

.search:focus,
.social-button:focus {
  color: var(--light-white);
  background-color: var(--push-blue);
}
/*END Кнопка найти в попапе и иконки соцсетей */

/* Внутренняя страница */
/* START Фильтр */
.list{
  list-style-type: none;
}

.title{
  font-size: 16px;
  font-weight: bold;
}

.filter{
  color: var(--basic-white);
  background-image: url("../img/bg-inner-page.jpg");
}

.button-show{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: inherit;
  border: 1px solid var(--basic-white);
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* END Фильтр */

/* START Навигационная цепочка */
.hotels {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  color: var(--light-black);
}

.breadcrumbs-title {
  color: var(--basic-black);
}

.breadcrumbs-item {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: all 0.1s;
}

/* Никак не могу заставить заработать*/
.breadcrumbs-item + .input:checked{
  text-decoration-line: none;
  color: var(--basic-blue);
}
/* END Никак не могу заставить заработать */

.breadcrumbs-item:hover,
.tiny-sort:hover {
  color: var(--basic-blue);
}

.breadcrumbs-item:active,
.tiny-sort:active {
  color: var(--basic-black);
}

/* END Навигационная цепочка */

/* START Каталог */
.more {
  font: inherit;
}

.info-hotels {
  color: var(--basic-extra-dark-grey);
}

.raiting{
  color: var(--basic-medium-grey);
}
/* END Каталог */

/*START Подвал */
.main-footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.socials-list {
  list-style-type: none;
}

.copy-info {
  font-size: 14px;
  line-height: 26px;
}

.copy-link .svg:hover {
  fill: var(--basic-blue);
}

.copy-link .svg:active {
  fill: var(--push-light-gray);
}
/*END Подвал */

