/* Variables */
:root {
  /*Цвета главной страницы*/
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-grey: #888888;
  --basic-blue: #81b3d2;
  --basic-dark-grey: #a9a9a9;
  --basic-extra-dark-grey: #333333;
  --basic-mud: #766357;
  --basic-neutral-grey: #f2f2f2;
  --basic-diff-gray: #eeeeee;
  --modal-shadow: rgba(0, 1, 1, 0.15);
  --content-shadow: rgba(0, 1, 1, 0.2);
 
  /*Цвета в футере*/
  --basic-dark: #231f20;

  /*Цвета второй страницы*/
  --basic-granit: #ababab;
  --basic-light-grey: #cacaca;
  --basic-medium-grey: #666666;

  /*Интерактив*/
  --aiming-blue: #669ec0;
  --push-blue: #5496bd;
  --aiming-mud: #604e43;
  --push-mud: #503e33;
  --aiming-neutral-gray: #ebebeb;
  --push-neutral-gray: #e5e5e5;
  --push-light-gray: #bdbbbc;
  --disabled: #6a6a6a;

  /*Для прозрачных элементов*/
  --light-white: hsla(0, 100%, 100%, .3);
  --light-black: hsla(0, 0%, 0%, .3);
}

body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-extra-dark-grey);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*START Гриды */
.page {
  height: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.page-body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  box-shadow: 0px 5px 15px var(--content-shadow);
}

.main-header {
  grid-area: header;
}

.content {
  grid-area: main;
}

/*END Гриды */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: 0px;
}

/*START Навигация */
.main-navigation {
  grid-area: header;
  position: relative;
  text-align: left;
  color: var(--basic-black);
  background-color: transparent;
  box-sizing: border-box;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px;
  padding: 0px;
  line-height: 26px;
  list-style-type: none;
  color: var(--basic-black);
}

/* Логотип */
.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-item {
  padding: 15px 0px;
}

/* Навигационная цепочка */
.nav-item:nth-child(4n + 1) {
  grid-column: 1/2;
  margin-left: 70px;
  text-align: left;
}

.nav-item:nth-child(2) {
  grid-column: 2/3;
  text-align: left;
}

.nav-item:nth-child(3) {
  grid-column: 3/4;
  text-align: right;
}

.nav-item:nth-child(4n) {
  grid-column: 4/5;
  margin-right: 70px;
  text-align: right;
}

/* Интерактив */
.site-navigation .nav-reference:hover {
  color: var(--basic-blue);
}

.site-navigation .nav-reference:focus {
  color: var(--basic-black);
}

.site-navigation .nav-reference:active {
  color: var(--basic-black);
  opacity: .3;
}

.nav-item .visited {
  color: var(--basic-mud);
}
/*END Навигация */

/*START Приветствие */

.images {
  height: 509px;
  max-width: 1200px;
  background-color: var(--basic-blue);
  background:
  no-repeat url(../img/slicer.svg) bottom,
  no-repeat url(../img/welcome-words.svg) center,
  url(../img/bg-welcome.jpg) center;
}

.tagline {
  width: 500px;
  margin-top: 42px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}
/*END Приветствие */

/*START Причины посещения */
.intro {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 50px;
  font: inherit;
  line-height: 26px;
}

.features {
  margin-bottom: 70px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: auto;
  padding: 0px;
  font: inherit;
  text-align: center;
  list-style-type: none;
}

.feature-item,
.feature-item-add {
  font-size: 21px;
  color: var(--basic-black);
}

.image-real-town {
  grid-column: 2/4;
  background-color: var(--basic-light-grey);
}

.image-background-1-reason {
  width: 800px;
  height: 256px;
  background-image: url(../img/bg-feature-1.jpg);
}

.image-real-town-1 {
  display: block;
}

.image-devil-brige {
  grid-column: 1/3;
  background-color: var(--basic-light-grey);
}

.image-background-2-reason {
  width: 800px;
  height: 256px;
  background-image: url(../img/bg-feature-2.jpg);
}

.image-devil-brige-1 {
  display: block;
}

.feature-tagline {
  width: auto;
  margin: 0px;
  padding: 23px 40px 54px;
}

/*START Настоящий городок + Там есть мост дьявола */
.addition {
  max-height: 256px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.addition .feature-item {
  color: var(--basic-white);
}

.addition .number {
  margin: 0px;
  padding: 0px 12px 0px;
}
/*END Настоящий городок + Там есть мост дьявола */

/* Настоящий городок */
.card-1 {
  margin: 0px;
  padding: 47px 130px 28px;
}

/* Там есть мост дьявола */
.card-2 {
  max-width: 174px;
  margin: 0px;
  padding: 50px 110px 23px;
}

/* Жилье, еда, сувениры */
.feature-list-card {
  position: relative;
  padding-top: 0px;
  min-height: 332px;
}

.feature-item-add {
  margin-top: 150px;
  padding: 0px;
}

.tagline-no-num {
  width: auto;
  padding: 0px;
  margin: 27px 50px 0px;
}

.icon-feature {
  position: absolute;
  padding-top: 55px;
  left: 41%;
}

/* Преимущества 3-6 */

.from-3 {
  background-color: var(--push-neutral-gray);
}

.from-3 .feature-item {
  display: inline-block;
  width: 150px;
  margin: 0px auto;
  padding-top: 45px;
}

.from-3 .number {
  margin: 0px;
  padding-top: 23px;
  padding-bottom: 18px;
}

.from-3 .feature-tagline {
  padding-top: 10px;
}
/* END Причины посещения */

/*START Заинтересовались? */
.appointment {
  margin-top: 0px;
  margin-bottom: 50px;
  line-height: 24px;
}

.appointment-info {
  padding: 0px;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.appointment-instruction {
  margin: 0px;
}

.label {
  display: block;
  align-self: center;
  text-align: left;
}

/*END Заинтересовались? */

/*START Форма поиска гостиницы */
.popup {
  line-height: 26px;
  font-weight: 700;
}

.form {
  position: absolute;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 568px;
  min-height: 395px;
  row-gap: 30px;
  margin: 0px 316px 0px;
  padding: 55px;
  box-sizing: border-box;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--modal-shadow);
}

.form-input {
  grid-column: 2/5;
  position: relative;
}

.label-child {
  padding: 0px 0px 0px 50px;
}

/*START Стиль кнопок*/
.button {
  display: block;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-mud);
  border: none;
}

.button:hover {
  background-color: var(--aiming-mud);
}

.button:active {
  color: var(--light-white);
  background-color: var(--push-mud);
}
/*END Стиль кнопок*/

/*START Поля в попапе */
.form-field {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid var(--basic-neutral-grey);
  background-color: var(--basic-neutral-grey);
}

.button-layout {
  margin: 0px;
}

.button-main-page {
  min-height: 86px;
  width: 568px;
}

.button-calendar {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
}

.form-input-half {
  position: relative;
}

.icon-minus {
  position: absolute;
  top: 15px;
  left: 6px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.icon-plus {
  position: absolute;
  top: 19px;
  right: 9px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.form-field[type="text"]::placeholder,
.form-field[type="number"]::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: var(--basic-black);
}

.field-half {
  text-align: center;
}

.form-field:hover {
  background-color: var(--aiming-neutral-gray);
}

.form-field:focus {
  background-color: var(--basic-white);
  border-color: var(--push-neutral-gray);
  outline: none;
}

.button-calendar:hover .icon-popup,
.icon-minus:hover .icon-popup,
.icon-plus:hover .icon-popup {
  fill: var(--basic-black);
  background-color: inherit;
}

.button-calendar:active .icon-popup,
.icon-minus:active .icon-popup,
.icon-plus:active .icon-popup {
  fill: var(--basic-blue);
  background-color: inherit;
}
/* Кнопка Найти */
.search-layout {
  display: block;
  grid-column: 1/5;
  grid-row-start: 5;
  height: 58px;
  width: 456px;
  padding: 0px;
  box-sizing: border-box;
}
/*END Поля в попапе */

/*START Popup number-hidden-arrows*/
.field-half[type="number"]::-webkit-inner-spin-button,
.field-half[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}

.field-half[type="number"] {
  -moz-appearance:textfield;
}
/*END Popup dates*/
/*END Форма поиска гостиницы */


/*START Кнопка "найти" в попапе и иконки соцсетей */
.form .search,
.card-hotel .search,
.social-button {
  background-color: var(--basic-blue);
}

.form .search:hover,
.card-hotel .search:hover,
.social-button:hover {
  background-color: var(--aiming-blue);
}

.form .search:active,
.card-hotel .search:active,
.social-button:active {
  color: var(--light-white);
  background-color: var(--push-blue);
}

.social-button:active .svg-color {
  fill: var(--light-white);
}

/*END Кнопка найти в попапе и иконки соцсетей */

/*START Карта */
.map .map-interactive {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, 0);
  width: 1199px;
  height: 594px;
  border: none;
}
/* END Карта */

/* ВНУТРЕННЯЯ СТРАНИЦА */
/* START Фильтр */
.inner-page {
  text-align: left;
}

.filter {
  display: flex;
  min-height: 150px;
  padding: 25px 0px 32px 0px;
  margin: 0px;
  color: var(--basic-white);
  background: no-repeat url("../img/bg-inner-page.jpg") 100%;
  background-size: cover;
}

.filter-field {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

.filter-field:first-of-type {
  padding-left: 72px;
}

.filter-field:nth-of-type(2) {
  padding: 0px;
  margin-left: 120px;
  box-sizing: border-box;
}

.filter-field:last-child {
  width: 300px;
  margin-right: 74px;
  margin-bottom: 0px;
  margin-left: auto;
}

.title {
  display: block;
  margin: 0px 0px 25px 0px;
  font-size: 16px;
  font-weight: bold;
}

.filter-field:last-child .title {
  margin-bottom: 14px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.list-item {
  padding: 0px 0px 25px 40px;
}

.list-item:last-child {
  padding-bottom: 0px;
}

/* Чекбоксы */

.list-item {
  display: block;
  position: relative;
}

.list-item-icon-checkbox {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.list-item-icon-checkbox-checked {
  display: none;
}

.list-item-icon-checked {
  display: none;
}

.filter-item[type="checkbox"]:checked + .filter-label > .list-item-icon-checkbox {
  display: none;
}

.filter-item[type="checkbox"]:checked + .filter-label > .list-item-icon-checkbox-checked {
  display: inline-block;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
}

.filter-item[type="checkbox"]:checked + .filter-label > .list-item-icon-checked {
  display: inline-block;
  position: absolute;
  z-index: 11;
  top: 1px;
  left: 4px;
}

  .filter-item[type="checkbox"]:disabled + .filter-label {
  color: var(--disabled);
}


/* Стоимость в сутки */
.filter-input {
  display: block;
  width: 100px;
  text-align: center;
  font-style: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

.cost-item {
  display: block;
  width: 100px;
  align-self: center;
  margin: 0px;
  padding: 7px 28px;
}

.range-controls {
  position: relative;
  height: 26px;
  padding-top: 19px;
}

.range-controls .scale {
  height: 2px;
  margin: 0px 5px;
  background: var(--basic-grey);
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  width: 4px;
  height: 4px;
  padding: 0px;
  background-color: var(--basic-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-min:active,
.range-controls .toggle-max:hover,
.range-controls .toggle-max:active {
  transform: scale(1.2);
  transition: 0.2s;
}

.price-controls {
  position: relative;
  display: flex;
  border: 2px solid var(--basic-white);
}

.cost-item:first-child:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: var(--basic-white);
}

/* Кнопка Показать */
.button-show {
  margin: 10px 21px 0px;
  padding: 5px 32px;
  transform: translate(50%, 0);  
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: inherit;
  border: 2px solid var(--basic-white);
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* END Фильтр */

/* START Найдено: 3 и сортировка */
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-right: 40px;
}
/* END Найдено: 3 и сортировка*/

/* START Навигационная цепочка */
.hotels {
  margin: 0px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.info .hotels-align {
  margin-left: 5px;
}

.flex-breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 29px 70px 31px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 238px;
  font-size: 12px;
  line-height: 18px;
  color: var(--light-black);
}

.arrows {
  margin: 5px 0px 0px auto;
}

.breadcrumbs-title {
  font-size: 12px;
  color: var(--basic-black);
}

.breadcrumbs-item {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: all 0.1s;
}

.tiny-sort:first-of-type {
  margin-right: 8px;
}

.breadcrumbs-item:hover,
.tiny-sort:hover {
  color: var(--basic-blue);
}

.breadcrumbs-item:active,
.tiny-sort:active {
  color: var(--basic-black);
  text-decoration-line: none;
}

.input-breadcrumbs:checked + .breadcrumbs-item {
  text-decoration: none;
  color: var(--basic-blue);
}

.tiny-sort .svg-sort:hover {
  fill: var(--basic-black);
}

.input-sort:active + .svg-arrows .svg-sort,
.input-sort:checked + .svg-arrows .svg-sort {
  fill: var(--basic-blue);
}
/* END Навигационная цепочка */

/* START Каталог */
.more {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.info-hotels {
  color: var(--basic-extra-dark-grey);
}

.catalog {
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-gap: 33px;
  padding: 22px 70px 24px;
  border: 1px solid var(--basic-light-grey);
}

.catalog:nth-of-type(2) {
  padding-bottom: 15px;
}

.catalog-img {
  text-align: right;
  padding-top: 9px;
}

.catalog:nth-of-type(2) .catalog-img {
  padding-top: 5px;
}

.catalog:nth-of-type(2) {
  padding-bottom: 22px;
}

.catalog:last-of-type .catalog-img {
  padding-top:4px;
}

.card-hotel {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto auto 1fr;
  grid-gap: 3px;
  min-height: 90px;
  padding-bottom: 3px;
  box-sizing: border-box;
}

.hotels {
  grid-column: 1/3;
  margin: 0px;
}

.card-hotel-link:hover {
  color: var(--basic-blue);
}

.card-hotel-link:active {
  color: var(--basic-black);
  opacity: .3;
}

.info-hotels {
  grid-column: 1/2;
}

.but-layout {
  display: block;
  grid-column: 1/2;
  width: 110px;
  height: min-content;
  padding: 3px 0px;
}

.but-book-layout {
  display: block;
  grid-column: 2/3;
  width: 142px;
  height: min-content;
  padding: 3px 0px;
}

.raiting {
  grid-column-start: 3;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  padding: 4px 15px;
  color: var(--basic-medium-grey);
  background-color: var(--basic-neutral-grey);
}

.stars {
  grid-column-start: 3;
  grid-row: 1/2;
  justify-self: end;
}

.raiting-amara {
  margin-top: 6px;
  width: 90px;
  height: 20px;
  background: space url("../img/icon-star.svg");
}

.raiting-desert {
  margin-top: 6px;
  width: 65px;
  height: 20px;
  background: space url("../img/icon-star.svg");
}

.raiting-villas {
  margin-top: 6px;
  width: 42px;
  height: 20px;
  background: space url("../img/icon-star.svg");
}
/* END Каталог */

/*START Подвал */
.main-footer {
  grid-area: footer;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.map-substrate {
  z-index: 1;
  width: 1199px;
  height: 473px;
  background-color: var(--basic-dark-grey);
}

.footer-part {
  width: 300px;
  margin: 0px;
  padding: 8px 0px 20px 0px;
}

.background-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: var(--basic-white);
}

.hashtag {
  margin: 12px 0px 9px 75px;
}

.link-tel {
  margin-left: 74px;
}

.footer-part-tel {
  margin: 0px;
  padding: 0px;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 151px;
  padding: 13px 0px;
  margin: 0 auto;
  list-style-type: none;
}

.soc-icon {
  display: block;
  width: 46px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  background-color: var(--basic-blue);
}

.copy-box {
  display: flex;
  margin: 10px 0px 0px 15px;
}

.copy-info {
  display: inline-block;
  margin: 15px 5px 0px 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 26px;
}

.copy-link {
  padding-top: 7px;
  padding-left: 5px;
}

.copy-link:hover .svg {
  fill: var(--basic-blue);
}

.copy-link:active .svg {
  fill: var(--push-light-gray);
}
/*END Подвал */


